@model IEnumerable<GreetUp.Models.Event>

@{
    ViewBag.Title = "Coding Events for Oct";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@*   Commenting out the titles
    @Html.DisplayNameFor(model => model.EventDate)

    @Html.DisplayNameFor(model => model.Location)

    @Html.DisplayNameFor(model => model.description)

    @Html.DisplayNameFor(model => model.Going)-->  *@

@foreach (var item in Model)
{
    <div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <h4>@Html.DisplayFor(modelItem => item.EventDate) </h4>
                <h4>@Html.DisplayFor(modelItem => item.Location)</h4>
                <h5> @Html.DisplayFor(modelItem => item.Going)</h5>
                <p>@Html.DisplayFor(modelItem => item.description)</p>

                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>



@*@Html.ActionLink("Edit", "Edit", new { id = item.Title }) |
@Html.ActionLink("Details", "Details", new { id = item.Title }) |
@Html.ActionLink("Delete", "Delete", new { id = item.Title })*@
       
           
           
        
}


